header {
  position: relative;
  font-family: "Science Gothic";
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 5px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  z-index: 2;
}
footer {z-index: 2;}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  z-index: 2;
}

.head-logo{
  width: 5%;
  height: auto;
  float: left;
}

.head-logo:hover{
  background-color: rgba(255, 255, 255, 0.1);
  color:black;
}

.cards-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 1400px;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  text-align: left;
  height: auto;
  flex: 0 1 calc(15% - 12px);
  min-width: 250px;
  z-index: 2;
}

@media (max-width: 1200px) { /* @media allows it so that if you shrink the display window, it will neatly shrink the blog posts*/
  .card {
    flex: 0 1 calc(33.333% - 12px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 12px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 1 100%;
  }
}

.card .card-image {
  max-width: 100%;
  height: 35%;
  border-radius: 8px;
  display: block;
  margin: 0 0 10px 0;
  object-fit: cover;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0 0 8px 0;
  color: hsl(0 0% 95%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 80%);
}

.card .card-link a {
  color: #90cdf4;
  text-decoration: none;
}

.sentinel {
  height: 1px;
}